# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.py[cod]
*.egg-info/
build/
dist/

# Envs
.env
.venv/
venv/

# Django static/media (keep if generated locally)
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
